/* --- ページ全体を整える --- */
div {
	padding : 0.5rem 1rem;
}
input[type="text"] {
	width : 90%;
}
label {
	margin-top : 1rem;
}
table { border-collapse: collapse; }
table tr, table th, table td {
	border  : solid 1px #001e3b;
	padding : 0.2em;
}

/* --- 個別に調整 --- */
label[for="commons_copy_title"] {
	user-select : none;
}
